
html{
   width: 100%;
   height: max-content

}


.narvigation{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.logo-text{
    font-family: 'Sen', sans-serif;
    font-size: 65px;
    margin: 10px;
}

.menu{
    position: absolute;
    left: 46%;
}

ul{
    display: flex;

}

li{
    width: max-content;
    list-style-type: none;
    margin-right: 50px;
    
}

ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.active-a{
    font-weight: 500px;

}

.active-a::after{
    content: '';
    background: #FF5352;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: relative;
    left: -50%;
    top: 50%;
    display: inline-block;
}


.button {
    align-items: center;
    display: flex;
    gap: 25px;
    position: absolute;
    right: 72px;
    
}

.button .login a{
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 16px;
    color: black;
   
}
.button .login{
    border: 2px solid #0C1122;
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
}


.button .started a{
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 16px;
    color: white;
   
}
.button .started{
    border: 2px solid #0C1122;
    border-radius: 10px;
    background-color: #0C1122;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
}

.texts{
    width: 558px;
    height: 100px;
    position: absolute;
    left: 5%;
    top: 16%;
}

.texts h1{
    font-family: 'Sen', sans-serif;
    font-size: 80px;
    
}

.texts p{
    font-family: 'Poppins';
    color: #5E626F;
    font-size: 20px;
    position: absolute;
    top: 345% ;
    width: 616px;
}

.body{
    display: block;
    width: max-content;
    height: max-content;
}

.imgIllution{
    position: absolute;
    right: 1%;
    top: 15%;
}

.imgIllution img{
    width: 1000px;
}

.search{
    box-shadow: 0px 16px 52px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: white;
    width: 599px;
    height: 68px;
    position: absolute;
    top: 600px;
    left: 5%;
    border-radius: 8px;
}

.search img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    padding-left: 15px;
}

.search input{
    font-family: 'Poppins';
    color: #A3A6B1;
    border: none;
    font-size: 15px;
}

.row-bar{
    width: 2px;
    height: 50px;
    background-color: #F8F8F9;
    
}

select{
    font-family: 'Poppins';
    color: #A3A6B1;
    border: none;
    font-size: 15px;
    padding-right: 40px;
    padding-left: 10px;
}

.search-button{
    align-items: center;
    margin: 0;
    margin-left: 50px;
}

.search-button button{
    background-color: #FF6158;
    width: 80px;
    height: 80px;
    align-items: center;
    border-radius: 8px;
    border: none;
    padding: 0px;
}

.search-button img{
    width: 30px;
    height: 30px;
    padding: 0;
}

.how-it-work{
    display: block;
    position: relative;
    top: 797px;
    padding: 60px;
    text-align: center;
    align-items: center;
}

.how-it-work .text h1{
    font-family: 'Sen';
    font-size: 60px;
}

.how-it-work .text p{
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
}

.group-card{
    justify-content: center;
    display: flex;
}

.card{
    border:  1px solid #e3e3e3;
    border-radius: 14px;
    padding: 40px;
    margin: 20px;
    width: 400px;
    height: max-content;
    justify-content: center;
}

.card h1{
    font-family: 'Poppins';
}

.card img{
    width: 100px;
    height: 100px;
}

.about{
    position: relative;
    top: 857px;
    left: 160px;
    padding-bottom: 70px;
    width: 1600px
}

.about .image img{
    width: 603px;
    height: 603px
}

.about .text{
    position: absolute;
    right: 118px;
    top: 75px;
    width: 587px;
}



.about .text h1{
    font-family: 'Sen';
    font-size: 54px;
    margin-bottom: 10px;
}

.about .text p{
    font-family: 'Poppins';
    color: #5E626E;
    font-size: 19px;
    margin-bottom: 10px;
}

.about .text-p{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.about .text-p img{
    width: 19px;
    height: 12px;
    margin-right: 22px;
}

.about .text-p p{
    font-size: 20px;
    font-weight: bold;
    margin: 0;


}

.category >h1{
    position: absolute;
    top: 892px;
    font-family: 'Sen';
    position: relative;
    left: 156px;
    font-size: 46px;
    width: 376px;
}

.category .button{
    position: absolute;
    right: 0px;
    font-size: 46px;
    width: 376px;
    top: 2498px
}

.category .button .button-1,.button-2{
    background-color: white;
    border: 2px solid #FF5352;
    border-radius: 4px;
    width: 60px;
    height: 60px;
}

.category .button .button-1 img{
    width: 10px;
    height: 20px;
}

.category .button .button-2{
    background-color: #FF5352;
}

.category .button .button-2 img{
    width: 10px;
    height: 20px;
}

.category .group-card {
    position: relative;
    top: 934px;
    gap: 40px
}

.category .group-card .card-active {
    background-color: #FF5352;
    border-radius: 9px;
    padding: 40px;
    width: 300px;
    height: max-content;
}

.category .group-card img{
    width: 70px;
    height: 70px;
}

.category .group-card .card-active h1{
    font-family: 'Sen';
    color: white;
    width: 10px;
}

.category .group-card .card-active p{
    font-family: 'Poppins';
    color: white;
    font-size: 20px;
}

.category .group-card .card{
    background-color: #FFFFFF;
    border-radius: 9px;
    padding: 40px;
    width: 300px;
    height: max-content;
    margin: 0;
}

.category .group-card .card h1{
    font-family: 'Sen';
    color: black;
    width: 10px;
}

.category .group-card .card p{
    font-family: 'Poppins';
    color: #5E626E;
    font-size: 20px;
}

.jobs{
    position: relative;
    top:1107px
}

.jobs .text{
    text-align: center;
}

.jobs .text h1{
    font-family: 'Sen';
    font-size: 44px;
}

.jobs .text p{
    font-family: 'Poppins';
}